# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
{%- if 'python' in boiler.langs %}
      - id: check-docstring-first
{%- endif %}
      - id: check-executables-have-shebangs
{%- if 'json' in boiler.langs %}
      - id: check-json
{%- endif %}
{%- if 'toml' in boiler.langs %}
      - id: check-toml
{%- endif %}
{%- if 'yaml' in boiler.langs %}
      - id: check-yaml
{%- endif %}
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [json, yaml]
{%- if 'rust' in boiler.langs %}

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
{%- endif %}
{%- if 'python' in boiler.langs %}

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
    - id: ruff-format
    - id: ruff
      args: ["--fix", "--exit-non-zero-on-fix"]
{%- endif %}
{%- if 'docker' in boiler.langs %}

  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.12.0.3
    hooks:
      - id: hadolint
        files: (Dockerfile|.dockerfile)$
        types: [text]
{%- endif %}
{%- if 'shell' in boiler.langs %}

  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["--tab"]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
{%- endif %}
