version: 2

updates:
{%- if 'rust' in boiler.langs %}

  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: monthly
    groups:
      dependencies:
        update-types:
          - minor
          - patch
{%- endif %}
{%- if 'docker' in boiler.langs %}

  - package-ecosystem: docker
    directory: /
    schedule:
      interval: monthly
    groups:
      dependencies:
        update-types:
          - minor
          - patch
{%- endif %}

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      dependencies:
        patterns:
          - "*"
{%- if boiler.git_has_submodules %}

  - package-ecosystem: gitsubmodule
    directory: /
    schedule:
      interval: monthly
{%- endif %}
{%- if 'python' in boiler.langs %}

  - package-ecosystem: pip
    directory: /
    schedule:
      interval: monthly
    groups:
      dependencies:
        update-types:
          - minor
          - patch
{%- endif %}
