name: Docker

on:
  push:
  pull_request:

env:
  REGISTRY: ghcr.io

jobs:
{%- for dockerfile in boiler.dockerfiles %}
  build-and-push{% if dockerfile != 'Dockerfile' %}-{{ dockerfile | replace(from=".dockerfile", to="") }}{% endif %}:
{%- raw %}
    # Run on external PRs and pushes to branches on the repo
    # This is to avoid double running on PRs from internal branches
    if:
      github.event_name == 'push' || github.event.pull_request.head.repo.full_name !=
      github.repository
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
{%- endraw %}
        if: github.ref == 'refs/heads/{{ boiler.repo_default_branch }}'
{%- raw %}
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}{% endraw %}/{{ boiler.repo_owner }}/{% if dockerfile == 'Dockerfile' %}{{ boiler.repo_name }}{% else %}{{ dockerfile | replace(from=".dockerfile", to="") }}{% endif %}{% raw %}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
{%- endraw %}
          file: {{ dockerfile }}
          push: {% raw %}${{{% endraw %} github.ref == 'refs/heads/{{ boiler.repo_default_branch }}' {% raw %}}}{% endraw %}
          tags: {% raw %}${{ steps.meta.outputs.tags }}{% endraw %}
          labels: {% raw %}${{ steps.meta.outputs.labels }}{% endraw %}
{% endfor -%}
